---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.pubitem {
  margin: 1em 0;
  line-height: 1em;
}

.pubitem p {
  margin: 0 0 0.5em;
}

.pubtitle {
  line-height: 1.2em;
  text-decoration: underline;
  color: blue;
}
.pubauthor {
  font-size: 90%;
}
.pubvenue {
  font-size: 90%;
}
