---
---

<div class="pubitem">
  {% if entry.url %}
  <p class="pubtitle">
    <a href="{{ entry.url }}" target="_blank">{{ entry.title }}</a>
  </p>
  {% else %} {{ entry.title }} {% endif %}
  <p class="pubauthor">
    {{ entry.authors |replace_first: 'Byeongjee Kang', '<b>Byeongjee Kang</b>'
    }}
  </p>
  <p class="pubvenue">
    {% if entry.venue %}
    {{ entry.venue }}, {{ entry.year }}
    {% else %}
    {{ entry.year }}
    {% endif %}
  </p>
  {% if entry.note %}<p class="pubnote">{{ entry.note }}</p>{% endif %}
</div>
